/**
*   定义css常量
*/ 

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#ffffff;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWith:210px;
$hideSidebarWith:54px;

// js 与 scss 共享变量，在scss中通过 :export 进行导出，在js中可通过ESM 进行导入

:export {
    menuText: $menuText;
    menuActiveText:$menuActiveText;
    subMenuActiveText:$subMenuActiveText;
    menuBg:$menuBg;
    menuHover:$menuHover;
    subMenuBg:$subMenuBg;
    subMenuHover:$subMenuHover;
    sideBarWith:$sideBarWith;
    hideSidebarWith:$hideSidebarWith;
}
